body {
  padding: 150px;
}

.box {
  width: 150px;
  height: 150px;
  margin: 25px;
  border: 1px solid black;
  float: left;
}

.box-1 {
  background-color: aquamarine;
  border-color: green;
  color: purple;
}

.box-2 {
  background-color: brown;
  border-color: grey;
  color: white;
}

.box-3 {
  background-color: bisque;
  border-color: blue;
  color: red;
}
