.box {
  display: inline-block;
  height: 25px;
  width: 25px;
}

.box-red {
  background-color: red;
}

.box-green {
  background-color: green;
}

.box-purple {
  background-color: purple;
}

.box-brown {
  background-color: brown;
}

.box-yellow {
  background-color: yellow;
}

.box-red {
  transform: rotate(-30deg);
}

.box-purple {
  transform: translate(100px) rotate(50deg);
}

.box-green {
  transform: translate(25px, 100px);
}

.box-brown {
  transform: skew(10deg, 10deg) translate(-10px, -5px);
}

.box-yellow {
  transform: scale(1.2) rotate(-15deg);
}
