@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
    url('../fonts/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
    url('../fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
    url('../fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Julius Sans One';
  src: url('../fonts/JuliusSansOne-Regular.woff2') format('woff2'),
    url('../fonts/JuliusSansOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
    url('../fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'),
    url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
    url('../fonts/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
    url('../fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
    url('../fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Black.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: '../fonts/Playfair Display';
  src: url('../fonts/PlayfairDisplay-MediumItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-SemiBold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* code goes here */

body {
  font-family: 'Playfair Display', sans-serif;
  color: #2b2b2b;
  font-weight: bold;
}

.header-top {
  width: 100%;
  max-width: 1076.61px;
  margin: 0 auto;
  max-height: 500px;
}

.container {
  width: 100%;
  max-width: 1356px;
  margin: 0 auto;
}


.inside-banner {
  background: url(../images/banner.png) no-repeat center center;
  background-size: cover;
}

.header-top {
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.header-social li {
  display: inline-block;
  font-size: 18px;
  margin: 25px 7px;
}

.header-social li a {
  color: #fff;
}

.contact-us-header {
  position: relative;
  right: 120px;
  margin-top: 25px;
}

.contact-us-header span {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}

.contact-us-header a {
  font-size: 16px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.search-box input {
  position: relative;
  left: 125px;
  margin-top: 25px;
  height: 25px;
  width: 200px;
}

.search-box i {
  position: absolute;
  top: 33px;
  right: 525px;
}

.user-controls li {
  display: inline-block;
  margin: 0 17px;
  font-size: 20px;
  margin-top: 25px;
}

.user-controls li a {
  color: #2b2b2b;
}

.header-bottom {
  background-color: #2b2b2b;
  height: 40px;
  /* display: flex;
  justify-content: space-around; */
}

.nav-primary {
  display: flex;
  justify-content: space-around;
}

.nav-primary li {
  display: inline-block;
  margin: 10px 77px;
}

.nav-primary li a {
  color: #e8e8e8;
  font-size: 19px;
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: none;
}

.home-catalog-preview h1 {
  text-align: center;
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 30px;
}


.product-tiles {
  display: flex;
  justify-content: space-between;
}

.product-tile {
  width: 23.672566371681416%;
  position: relative;
}

.product-tile img {
  width: 100%;
}

.product-tile .product-name {
  text-transform: uppercase;
  font-size: 18px;
  margin: 20px 0;
}

.product-tile .a2wishlist {
  position: absolute;
  bottom: 390px;
  left: 287px;
  font-size: 22px;
}

.product-tile main a:nth-child(2) {
  color: #2b2b2b;
}

.product-tile-pricing {
  text-align: center;
  margin-bottom: 60px;
  font-weight: normal;
  font-size: 18px;
}

.home-article-image {
  display: inline-block;
  width: 666px;
  height: 666px;
}

.home-article-text {
  position: relative;
  left: 800px;
  bottom: 650px;
}

.home-article-text h1 {
  font-weight: bold;
  font-size: 44px;
  margin-bottom: 25px;
}

.home-article-text p {
  font-family: 'Roboto';
  font-weight: 300;
  line-height: 30px;
}

.home-article-text p:nth-of-type(1) {
  margin-bottom: 30px;
}

.home-article {
  height: 800px;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #e8e8e8;
  font-weight: normal;
  text-transform: lowercase;
  line-height: 30px;
  padding-bottom: 25px;
}

.footer a {
  color: #2b2b2b;
  text-decoration: none;
}

.contact-footer {
  margin-top: 25px;
  margin-bottom: 40px;
  margin-left: 180px;
  margin-right: 100px;
  line-height: 30px;
}

.footer-nav ul {
  display: inline-block;
  margin-top: 25px;
  margin-right: 120px;
}

.footer-social li {
  display: inline-block;
  position: relative;
  top: 120px;
  right: 343px;
  margin: 0 6px;
}

.footer-subscribe {
  margin-top: 25px;
}

.footer-subscribe button {
  background-color: transparent;
  border: 1px solid #000;
  text-transform: uppercase;
}

.footer-subscribe .subscribe-textboxt {
  height: 18px;
  width: 177px;
}