h1 {
  color: red;
  text-decoration: underline;
}

p {
  color: grey;
}

ol a {
  color: green;
  text-decoration: line-through;
  text-decoration-color: blue;
}

h2 {
  text-shadow: 2px 2px 5px yellow;
  font-weight: normal;
}

h3 {
  text-shadow: 0px 3px 5px green;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: brown;
}

ul li {
  text-decoration: underline;
  color: purple;
}

p b {
  color: yellow;
}

p i {
  color: blue;
  text-decoration: line-through;
  font-weight: bold;
}
