.card {
  width: 80%;
  margin: 25px auto;
  border: 1px solid #000;
  overflow: hidden;
}

.float-left {
  float: left;
}

.orientation-left img {
  float: left;
}

.orientation-right img {
  float: right;
}

.float-left {
  float: none;
}
