/*
Creeaza un div cu clasa purple si fundalul mov, bordura de 2 px punctata verde, colturile rotunjite de 40 cu valorile pentru padding:
padding-left -> 20px
padding-top -> 10px
padding-bottom -> 0
padding-right -> 15px;
*/

.my-div {
  width: 500px;
  height: 102px;
  border: 1px solid green;
  margin-right: auto;
  margin-left: auto;
  background-color: red;
}

.purple {
  background-color: purple;
  border: 2px solid green;
  border-radius: 40px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 0;
  padding-right: 15px;
}

.transparent {
  width: 300px;
  border: 2px solid red;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
