.box {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.box-red {
  background-color: red;
}

.box-green {
  background-color: green;
}

.box-purple {
  background-color: purple;
}

.box-brown {
  background-color: brown;
}

.box-yellow {
  background-color: yellow;
}

.box-green {
  transition: transform 5s linear;
}

.box-green:hover {
  transform: rotate(360deg) scale(1.5);
}

.box-purple {
  transition: all 4s ease 1s, height 4s ease 1s;
}

.box-purple:hover {
  width: 100px;
  height: 100px;
}
