/* add code here */
.header.header h1 {
  color: green;
}

.para.para {
  color: purple;
}

/* add code here */

h1 {
  color: red;
}

.header h1 {
  color: blue;
}

p {
  text-decoration: underline;
}

.para {
  text-decoration: none;
  color: yellow;
}
