.container {
  border: 1px solid #000;
  padding: 5px;
}

body {
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: blue;
  color: brown;
  z-index: 1;
}

.nav-bottom a {
  color: brown;
}

.container {
  position: relative;
}

.container .legend {
  position: absolute;
  top: -10px;
  left: 12px;
  background-color: gray;
  border: 1px solid red;
}

.sup {
  position: relative;
  bottom: 5px;
  font-size: 12px;
}

.nav-top {
  background-color: green;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
