.my-first-list a {
  display: block;
  margin: 5px 0;
}

.my-first-list a::before {
  content: '';
  display: inline-block;
  background-color: purple;
  transform: rotate(45deg);
  width: 7px;
  height: 10px;
}

.my-first-list a::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: red;
  display: inline-block;
  border-radius: 50%;
  margin-left: 15px;
}
