.container {
  border: 1px solid #000;
  padding: 5px;
}

body {
  padding-top: 25px;
  padding-bottom: 25px;
}

.nav-top {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  color: white;
  z-index: 1;
}

.nav-top a {
  color: white;
}

.container {
  position: relative;
}

.container .legend {
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: gray;
  border: 1px solid red;
}

.container .sub {
  font-size: 12px;
  position: relative;
  bottom: -2px;
}

.nav-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: green;
  z-index: 1;
}

.nav-bottom a {
  color: white;
}
