.stage {
  width: 80%;
  height: 300px;
  border: 1px solid #000;
  margin: 25px 0;
  position: relative;

  display: flex;
}

.stage .title {
  position: absolute;
  top: 5px;
  right: 5px;
}

.item {
  width: 25px;
  height: 25px;
  background: #000;
  border: 1px solid red;
}

.stage-01 {
  justify-content: center;
  align-items: center;
}

.stage-02 {
  justify-content: center;
  align-items: flex-end;
}

.stage-03 {
  justify-content: flex-end;
  align-items: flex-end;
}

.stage-04 {
  align-items: center;
  justify-content: flex-end;
}

.stage-05 {
  align-items: center;
  justify-content: space-around;
}

.stage-06 {
  align-items: flex-end;
  justify-content: space-between;
}

.stage-07 {
  align-items: flex-start;
  justify-content: space-around;
}
